@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/CustomStyles.css" />
</head>
<div class="main">
    <h1 class="heading">Welcome To CampGround</h1>
</div>
<div class="main1">
    <h1 class="heading1">Terms & Conditions</h1>
    <p>
        Membership Terms & Conditions

        By accepting Campground membership, you agree to these terms and
        conditions and any variation.

        Member discounts apply to full-priced Columbia Sportswear, Lowe Alpine
        and Peak XV products only. Member benefits are not available in
        conjunction with other products and promotions – unless members are
        advised otherwise. Membership and benefits of the Campground members
        are for individuals and their immediate families only. Campground may
        amend the benefits and discounts available from time to time; any
        changes will be communicated on the member newsletter and/or web site.

        By joining the Campground, I agree to accept email correspondence from
        Campground. By joining the Campground website as a member, you agree
        to receive from time to time special offers and or newsletters from
        us. Campground reserves the right to withdraw or amend any discount or
        special offers to members without notice at any time. Members may ask
        to be removed from our members list by contacting us via email and
        asking to be removed. Campground reserves the right to terminate the
        Campground member at any time without prior notice. No personal
        information will be released to a third party by Campground.
    </p>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - CampGround 
    </div>
</footer>
